<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Header</title>
  </head>

  <body>
    <div id="header">
      <p>header content</p>
      <ul>
        <li><a href="/">NCCTS</a></li>
        <li><a href="/clcc/">CLCC</a></li>
      </ul>
    </div>

    <div id="main"></div>

    <div id="footer">
      <p>footer content</p>
      <ul>
        <li><a href="https://github.com/NCCTS">github</a></li>
        <li><a href="https://twitter.com/nccts_stl">twitter</a></li>
        <li><a href="https://www.facebook.com/pages/National-Catholic-Conference-for-Total-Stewardship/216645941860866">faceook</a></li>
      </ul>
    </div>
  </body>
</html>
