<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NCCTS &mdash; National Catholic Conference for Total Stewardship</title>
  </head>
  <body>
    <main>
      <p>Total Stewardship</p>
      <p>Evangelization. Discipleship. Service.</p>
      <p>Start our CLCC Faith Formation Process.</p>
      <!-- <p>Holy Spirit dove image</p> -->
      <p>We pray you will join us in the work of a lifetime.</p>
      <p>NCCTS was founded by the late Fr. Francis A. Novak, C.Ss.R.</p>
      <p>Fr. Novak image</p>
      <p>The CLCC Formation Process sprang from his heart as a gift to the Church he so loved.
        Father believed it to be the work of God the Holy Spirit in him, for the benefit of his
        brothers and sisters in Christ.

        We agree!

        The NCCTS is committed to spreading Fr. Novak's vision for a great renewal in
        Catholic parish life throughout the world.

        Requiem Aeternam dona eis, Domine, et lux perpetua luceat eis. Requiescant in pace. Amen.</p>
      <p>The world aflame with Pentecost's fire, Evangelization, the Good News spreading, God's people true conversion seeking; Enlightened by the Spirit's fire, Enlivened by the Savior's Body and Blood, Protected under Virgin Mother's care, Entrusted with the Church's teaching faithfully to live and share.</p>
    </main>
  </body>
</html>
