[Unit]
Before=nccts-data.service
Description=Sets up nccts.org in /home/core/repos
PartOf=nccts-strap.service
Wants=nccts-data.service

[Service]
ExecStart=/home/core/bin/repo_strap.sh nccts.org https://github.com/NCCTS/nccts.org.git tagged
RemainAfterExit=yes
Type=oneshot
