(require 'deferred)

(defun ssh-touch-action ()
  (when (equal (cl-subseq (f-split (f-dirname (buffer-file-name))) 0 7)
               '("/" "Users" "michael" "repos" "NCCTS" "nccts.org" "site"))
    (progn
      (message (concat "ssh-touch-action: "
                       (f-relative (buffer-file-name)
                                   "/Users/michael/repos/NCCTS/nccts.org/site/")))
      (deferred:$
        ;; revise this to use the `boot2docker ssh ...' command (i.e. pass touch
        ;; command through it)
        (deferred:process "ssh"
          "-i"
          "/Users/michael/.vagrant.d/insecure_private_key"
          "user@host"
          (concat "touch /home/core/repos/nccts.org/site/"
                  (f-relative (buffer-file-name)
                              "/Users/michael/repos/NCCTS/nccts.org/site/")))))))

(add-hook 'after-save-hook #'ssh-touch-action)
