<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CLCC &mdash; Celebrating Life as a Catholic Christian</title>
  </head>
  <body>
    <main>
      <p>Celebrating Life as a Catholic Christian (CLCC) is a process for New Evangelization that develops knowledge of the faith in Catholics starving for Gospel truth. It is modeled from official Church documents of four modern popes with a view to ignite a passion to grow in personal holiness and zeal to help carry out a high priority of the Church's mission: to receover millions of lapsed, indifferent, fallen-away Catholics by personal outreach to them.</p>
      <p><a href="manual/">Manual</a></p>
      <p><a href="clcc-manual.pdf">Manual PDF</a></p>
      <p><a href="companion/">Companion</a></p>
      <p><a href="clcc-companion.pdf">Companion PDF</a></p>
    </main>
  </body>
</html>
