fuse*
.DS_Store
*~
*.*~
.*.sw*
._*
.#*
*.swp

.repl/
.vagrant/
node_modules/
/site/build/*
!/site/build/.gitkeep
/site/source/clojure/build/
/site/source/tex/auto/
/site/source/tex/build/
/support/save-touch.el
/support/secgen/base91

repl/
target/
texlive-mirror/

.floo
.lein-*
.nrepl-port

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
!/support/secgen/base91-0.6.0.tar.gz
*.yo-rc.json
lib-cov
logs
npm-debug.log
pids
results
user-data
config.rb
