fuse*
.DS_Store
*~
*.*~
.*.sw*
._*
.#*
*.swp

.repl/
.vagrant/
node_modules/
/site/tex/auto
texlive-mirror/

.floo
.lein-*
.nrepl-port

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.yo-rc.json
lib-cov
logs
npm-debug.log
pids
results
user-data
config.rb
