#cloud-config
---
users:
- name: root
  passwd: |
    $1$some$hash
- name: core
  passwd: |
    $1$some$hash
coreos:
  etcd:
    addr: 127.0.0.1:4001
    bind-addr: 127.0.0.1:4001
    peer-addr: 127.0.0.1:7001
    peer-bind-addr: 127.0.0.1:7001
    discovery: https://discovery.etcd.io/somediscoverytokenabcdefg1234567
  fleet:
    public-ip: 127.0.0.1
  units:
  - name: etcd.service
    command: start
  - name: fleet.service
    command: start
  - name: docker-tcp.socket
    command: start
    enable: true
    content: |
      [Unit]
      Description=Docker Socket for the API

      [Socket]
      ListenStream=2375
      Service=docker.service
      BindIPv6Only=both

      [Install]
      WantedBy=sockets.target
