/* Custom Font - Stars (From WooCommerce) */
@font-face {
	font-family: 'star';
	src:url('fonts/star.eot');
	src:url('fonts/star.eot?#iefix') format('embedded-opentype'),
		url('fonts/star.woff') format('woff'),
		url('fonts/star.ttf') format('truetype'),
		url('fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Product List */
div.shop ul.products {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.shop ul.products:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

div.shop ul.products li.product {
	position: relative;
	margin-bottom: 30px;
}

div.shop ul.products li.product .add-to-cart-product {
	position: absolute;
	top: 0;
	left: 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	padding: 8px 10px 5px;
	font-size: 0.9em;
	color: #FFF;
	background: #2D343E;
	z-index: 1;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0); /* Avoid icon moving on hover */
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

div.shop ul.products li.product .add-to-cart-product .icon {
	margin-right: 3px;
	font-size: 1.1em;
}

div.shop ul.products li.product:hover .add-to-cart-product {
	filter: alpha(opacity=100);
	opacity: 1;
}

div.shop ul.products li.product:hover .add-to-cart-product:hover {
	background: #000;
}

div.shop ul.products li.product a {
	text-decoration: none;
}

div.shop ul.products li.product .price {
	display: block;
	min-height: 28px;
}

div.shop ul.products li.product .price del {
	color: rgba(145, 145, 145, 0.5);
	font-size: 0.7em;
	margin: -2px 0 0;
}

div.shop ul.products li.product .price ins {
	text-decoration: none;
}

div.shop ul.products li.product .price .amount {
	font-size: 1.3em;
}

div.shop ul.products li.product .onsale {
	position: absolute;
	background-image: none;
	border-radius: 100%;
	left: auto;
	right: 0;
	top: -15px;
	text-shadow: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	z-index: 1000;
	box-shadow: none;
	font-size: 0.9em;
	color: #FFF;
	border-bottom: 2px solid transparent;
}

/* Rating */
div.shop .review_num {
	margin-right: 10px;
	float: left;
	position: relative;
	top: -3px;
}

div.shop .star-rating {
	float: none;
	position: relative;
	top: 2px;
	font-family: 'star';
	font-size: 1em;
	height: 1em;
	line-height: 1em;
	overflow: hidden;
	position: relative;
	width: 5.4em;
	margin-bottom: 25px;
}

div.shop .star-rating:before {
	color: #E0DADF;
	content: "SSSSS";
	float: left;
	left: 0;
	position: absolute;
	top: 0;
}

div.shop .star-rating span {
	float: left;
	left: 0;
	overflow: hidden;
	padding-top: 1.5em;
	position: absolute;
	top: 0;
}

div.shop .star-rating span:before {
	content: "SSSSS";
	left: 0;
	position: absolute;
	top: 0;
}

div.shop .summary .price {
	color: #444;
	font-size: 2em;
	letter-spacing: -1px;
	line-height: 30px;
	margin-top: 20px;
}

div.shop .quantity {
	margin: 0 15px 25px 0;
	overflow: hidden;
	position: relative;
	width: 125px;
	height: 40px;
	float: left;
}

div.shop .quantity .minus,
div.shop .quantity .plus {
	background: #f4f4f4;
	border: 1px solid #C8BFC6;
	border-radius: 2px;
	box-shadow: none;
	color: #5E5E5E;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	line-height: 13px;
	margin: 0;
	overflow: visible;
	outline: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	vertical-align: text-top;
	width: 40px;
}

div.shop .quantity .plus {
	right: 0;
	top: 0;
}

div.shop .quantity .qty {
	border: 1px solid #CCC;
	box-shadow: none;
	float: left;
	height: 40px;
	padding: 0 39px;
	text-align: center;
	width: 125px;
	font-size: 1em;
}

div.shop .quantity .qty::-webkit-inner-spin-button,
div.shop .quantity .qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.shop .quantity .qty::-ms-clear {
  display: none;
}

div.shop .product_meta {
	clear: both;
}

div.shop div.tabs-product {
	margin-top: 35px;
}

div.shop ul.comments div.comment-arrow {
	border-right-color: #F5F7F7;
}

div.shop ul.comments div.comment-block {
	background: #F5F7F7;
}

/* Cart */
div.shop table.cart {
	width: 100%;
	margin: 0;
	text-align: left;
}

div.shop table.cart img {
    height: auto;
    width: 55px;
}

div.shop table.cart th {
	padding: 8px 10px;
}

div.shop table.cart td {
	border-top: 1px solid #DCDCDC;
	padding: 8px 10px;
}

div.shop table.cart td.actions {
	padding: 20px 10px;
}

div.shop table.cart .remove .icon {
	font-size: 1.5em;
}

div.shop table.cart .coupon {
	float: left;
}

div.shop table.cart .product-remove {
	width: 1%;
}

div.shop table.cart .product-thumbnail {
	width: 7%;
}

div.shop table.cart .product-name {
	width: 60%;
}

div.shop table.cart .quantity {
	top: 10px;
	position: relative;
}

div.shop .actions-continue {
	float: right;
}

div.shop .cart-totals {
	width: 100%;
}

div.shop .cart-totals th {
	border-top: 1px solid #DCDCDC;
	padding: 8px 10px;
}

div.shop .cart-totals td {
	border-top: 1px solid #DCDCDC;
	padding: 8px 10px;
}

div.shop .cart-totals tr.total .amount {
	font-size: 2em;
	display: block;
	padding-top: 10px;
}