[Unit]
Description=LaTeX to pdf/xml/xhtml for nccts.org

[Service]
ExecStartPre=-/home/core/repos/nccts.org/fleet/common/scripts/cont-kill.sh latex ; \
             -/home/core/repos/nccts.org/fleet/common/scripts/cont-rm.sh latex
ExecStart=/home/core/repos/nccts.org/fleet/dev/common/scripts/nccts-latex.sh
ExecStop=-/home/core/repos/nccts.org/fleet/common/scripts/cont-kill.sh latex ; \
         -/home/core/repos/nccts.org/fleet/common/scripts/cont-rm.sh latex
Type=simple
