[Unit]
Description=Static assets rsync for nccts.org

[Service]
ExecStartPre=-/home/core/repos/nccts.org/fleet/common/scripts/cont-kill.sh static ; \
             -/home/core/repos/nccts.org/fleet/common/scripts/cont-rm.sh static
ExecStart=/home/core/repos/nccts.org/fleet/dev/common/scripts/nccts-static.sh
ExecStop=-/home/core/repos/nccts.org/fleet/common/scripts/cont-kill.sh static ; \
         -/home/core/repos/nccts.org/fleet/common/scripts/cont-rm.sh static
Type=simple
