#cloud-config
---
users:
- name: root
  passwd: |
    $1$some$hash
- name: core
  passwd: |
    $1$some$hash
coreos:
  etcd:
    addr: 127.0.0.1:4001
    bind-addr: 127.0.0.1:4001
    peer-addr: 127.0.0.1:7001
    peer-bind-addr: 127.0.0.1:7001
    discovery: https://discovery.etcd.io/somediscoverytokenabcdefg1234567
  fleet:
    public-ip: 127.0.0.1
  units:
  - name: etcd.service
    command: start
  - name: fleet.service
    command: start
  - name: nccts-data.service
    command: start
    enable: true
    content: |
      [Unit]
      After=docker.service
      Before=nccts-pull.service
      Description=Data container for nccts.org components

      [Service]
      ExecStart=/root/bin/nccts-data.sh
      Type=oneshot
  - name: nccts-pull.service
    command: start
    enable: true
    content: |
      [Unit]
      Before=nccts-source-to-build.service
      Description=Updates the data container for nccts.org components

      [Service]
      ExecStart=/root/bin/nccts-pull.sh
      RemainAfterExit=yes
      Type=oneshot
  - name: nccts-source-to-build.service
    command: start
    enable: true
    content: |
      [Unit]
      Before=nccts-http-server.service
      Description=Trasnlate nccts.org site-source to site-build
      PartOf=nccts-pull.service

      [Service]
      ExecStart=/root/bin/nccts-source-to-build.sh
      RemainAfterExit=yes
      Type=oneshot
  - name: nccts-http-server.service
    command: start
    enable: true
    content: |
      [Unit]
      Description=Static web server for nccts.org
      PartOf=nccts-pull.service

      [Service]
      ExecStartPre=-/root/bin/nccts-http-server-kill.sh ; -/root/bin/nccts-http-server-rm.sh
      ExecStart=/root/bin/nccts-http-server.sh
      ExecStop=-/root/bin/nccts-http-server-kill.sh ; -/root/bin/nccts-http-server-rm.sh
      Type=simple
write_files:
- path: /root/bin/nccts-data.sh
  owner: root
  permissions: '0755'
  content: |
    #!/bin/bash
    _=$(docker inspect data 2>/dev/null)
    if [ "$?" -eq "1" ]; then
      docker run -it -v /home/sailor/nccts.org --name data nccts/nccts-data:latest ' \
        /bin/true'
    fi
- path: /root/bin/nccts-pull.sh
  owner: root
  permissions: '0755'
  content: |
    #!/bin/bash
    docker run -it --rm --volumes-from data nccts/nccts-data:latest ' \
      pull_site.sh'
- path: /root/bin/nccts-source-to-build.sh
  owner: root
  permissions: '0755'
  content: |
    #!/bin/bash
    docker run -it --rm --volumes-from data nccts/baseimage:0.0.9 ' \
      cp -R nccts.org/site/source/static/* nccts.org/site/build'
- path: /root/bin/nccts-http-server.sh
  owner: root
  permissions: '0755'
  content: |
    #!/bin/bash
    docker run -it --rm --volumes-from data -p 80:8080 --name http-server nccts/node:0.0.9 ' \
      source ./.nvm/nvm.sh && \
      npm install -g http-server && \
      cd nccts.org/site/build && \
      http-server -p 8080 -c-1'
- path: /root/bin/nccts-http-server-kill.sh
  owner: root
  permissions: '0755'
  content: |
    #!/bin/bash
    _=$(docker inspect http-server 2>/dev/null)
    if [ "$?" -eq "0" ]; then
      docker kill http-server
    fi
- path: /root/bin/nccts-http-server-rm.sh
  owner: root
  permissions: '0755'
  content: |
    #!/bin/bash
    _=$(docker inspect http-server 2>/dev/null)
    if [ "$?" -eq "0" ]; then
      docker rm http-server
    fi
