[Unit]
Description=Clojure-based content generator nccts.org

[Service]
ExecStartPre=-/home/core/repos/nccts.org/fleet/dev/scripts/nccts-generator-kill.sh ; \
             -/home/core/repos/nccts.org/fleet/dev/scripts/nccts-generator-rm.sh
ExecStart=/home/core/repos/nccts.org/fleet/dev/scripts/nccts-generator.sh
ExecStop=-/home/core/repos/nccts.org/fleet/dev/scripts/nccts-generator-kill.sh ; \
         -/home/core/repos/nccts.org/fleet/dev/scripts/nccts-generator-rm.sh
Type=simple
