[Unit]
Before=nccts-http-server.service
Description=Trasnlate nccts.org site-source to site-build
PartOf=nccts-update.service

[Service]
ExecStart=/home/core/repos/nccts.org/fleet/prod/scripts/nccts-build.sh
RemainAfterExit=yes
Type=oneshot
