[Unit]
Description=Static web server for nccts.org
PartOf=nccts-update.service

[Service]
ExecStartPre=-/home/core/repos/nccts.org/fleet/prod/scripts/nccts-http-server-kill.sh ; \
             -/home/core/repos/nccts.org/fleet/prod/scripts/nccts-http-server-rm.sh
ExecStart=/home/core/repos/nccts.org/fleet/prod/scripts/nccts-http-server.sh
ExecStop=-/home/core/repos/nccts.org/fleet/prod/scripts/nccts-http-server-kill.sh ; \
         -/home/core/repos/nccts.org/fleet/prod/scripts/nccts-http-server-rm.sh
Type=simple
