[Unit]
Before=nccts-build.service
Description=Updates the data container for nccts.org components
PartOf=nccts-data.service
Wants=nccts-build.service

[Service]
ExecStartPre=-/home/core/repos/nccts.org/fleet/common/scripts/cont-kill.sh update ; \
             -/home/core/repos/nccts.org/fleet/common/scripts/cont-rm.sh update
ExecStart=/home/core/repos/nccts.org/fleet/prod/common/scripts/nccts-update.sh
ExecStop=-/home/core/repos/nccts.org/fleet/common/scripts/cont-kill.sh update ; \
         -/home/core/repos/nccts.org/fleet/common/scripts/cont-rm.sh update
RemainAfterExit=yes
Type=oneshot
