[Unit]
Before=nccts-update.service
Description=Data container for nccts.org components
PartOf=nccts-strap.service
Wants=nccts-update.service

[Service]
ExecStart=/home/core/repos/nccts.org/fleet/prod/common/scripts/nccts-data.sh
RemainAfterExit=yes
Type=oneshot
